ion-content {
    --background: url('bgg.jpg') no-repeat center center fixed;
    background-size: cover;
    --ion-background-color: transparent;
  }
  
  
  
  ion-label{
    color: #8C52FF;
  }
  table{
    color: #8C52FF;
  }
  ion-title{
    text-align: center;
  }