

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title><strong>Pusat Informasi</strong></ion-title>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  <ion-label><h1>Alur Penerimaan Mahasiswa Baru</h1></ion-label>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="#8C52FF">
        <ion-label >Pendaftaran</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Kegiatan Pendaftaran dapat dilakukan mulai tanggal 2 Januari - 31 Agustus 2024.</div>
      <div class="ion-padding" slot="content">Biaya Pendaftaran sebesar Rp. 300.000,00.</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="#8C52FF">
        <ion-label>Mengikuti Tes Potensi Akademik dan Wawancara</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Tes Potensi Akademik (TPA) kegiatan ini dilakukan untuk mengetahui kompetensi pengetahuan umum dimana
        ada 3 jenis pertanyaan diantaranya adalah pertanyaan logika, matematika dan umum, TPA dilakukan menggunakan berbasis komputer yang diselenggarakan
        offline/online. Wawancara kegiatan ini dilakukan untuk mengetahui minat bakat calon mahasiswa.
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="#8C52FF">
        <ion-label>Pengumuman Hasil TPA dan melakukan Biaya Daftar Ulang</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Kegiatan daftar ulang bisa dilakukan secara online atau offline.</div>
      <div class="ion-padding" slot="content">Setelah ada Pengumuman lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa dinyatakan lolos bisa
        langsung melakukan kegiatan daftar ulang.
      </div>
    </ion-accordion>
    <ion-accordion value="four">
      <ion-item slot="header" color="#8C52FF">
        <ion-label>Melakukan Kegiatan Pra Studi</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Pelaksanaan kegiatan Pra-studi dilaksanakan di 1 lokasi.</div>
      <div class="ion-padding" slot="content">Fakultas Ekonomi dan Komputer di Gedung Kampus Pajajaran.
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-label><h1>Alur Pencairan Fee</h1></ion-label>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="#8C52FF">
        <ion-label>Data Pendaftaran</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Pengecekan nominal fee pendaftaran dapat di cek melalui menu Data Pendaftaran.</div>
      <div class="ion-padding" slot="content">Pastikan terdapat jumlah fee pendaftaran.</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="#8C52FF">
        <ion-label>Konfirmasi ke Bagian BAUM</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Silakan anda untuk konfirmasi dengan menunjukan daftar data pendaftaran dengan status "Verifikasi Pendaftaran OK".
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="#8C52FF">
        <ion-label>Proses Pencairan Fee Selesai</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Proses selesai terimakasih.
      </div>
    </ion-accordion>
    
  </ion-accordion-group>
  
  
</ion-content>
