h1{
    margin-top: 10%;
}

ion-accordion{
    color: #8C52FF;
}
ion-accordion-group{
    color: #8C52FF;
}
ion-label{
    color: #8C52FF;
}
ion-progress-bar{
    color: #8C52FF;
}
ion-content {
    --background: url('bgg.jpg') no-repeat center center fixed;
    background-size: cover;
    --ion-background-color: transparent;
  }
  ion-title{
    text-align: center;
  }